div.botaoFormulario{ display: flex; justify-content: space-evenly;
  button.btnEditar{ font-size: 1.2em; font-family: Helvetica, sans-serif; border-radius: 8px; cursor: pointer; background-color: rgba(179, 255, 0, 0.5); color: rgb(8, 8, 8); border-bottom: 4px solid #000; padding: 10px; font-weight: bolder; }
  button.btnEditar:hover{ background-color: rgba(179, 255, 1, 1); border-bottom: 2px solid #000; }
  
}