div.barraTopo{ background-color: rgba(157, 207, 255, 0.8); border-radius: 10px;
  nav.navBar{ text-align: center; width: 55%; height: 100px; display: flex; justify-content: space-between;
    img.logo{ display: block; width: 80px; height: 80px; margin-top: 0.8em; margin-left: 3em;}
    .titulo{ display: inline; align-content: center; margin-left: 2.5em;}
  }
}