div.container{ display: flex; justify-content: center; height: 500px;
  div.corpoDeletar{ background-color: rgba(255, 255, 255, 0.9); width: 40%; border: 0px solid #000; margin-top: 1em; border-radius: 7px;
    form.formulario{ font-size: 1.3em; font-weight: 100; font-family: Helvetica, sans-serif; margin-top: 2em;
      div.formataFormulario{ padding: 5px 15px 20px; margin-left: 3em;
      label.labelDeletar{ font-family: Blippo, fantasy; margin-left: 5px;}
      input.inputDeletar{ border-radius: 3px; font-family: Helvetica, sans-serif; font-size: 0.9em; outline:none; width: 80%; display:block; }
      input.inputDeletar:hover{ background-color: rgb(255, 174, 174); }
      textarea.textDeletar{ width: 80%; border-radius: 3px; font-family: Helvetica, sans-serif; font-size: 0.9em; outline:none; display: block; }
      textarea.textDeletar:hover{ background-color: rgb(255, 174, 174); }
      }
      div.botaoFormulario{ display: flex; justify-content: space-evenly;
        button.btnDeletar{ font-size: 1.2em; font-family: Helvetica, sans-serif; border-radius: 8px; cursor: pointer; background-color: rgba(226, 41, 41, 1); color: rgb(8, 8, 8); border-bottom: 4px solid #000; padding: 10px; font-weight: bolder; }
        button.btnDeletar:hover{ border-bottom: 2px solid #000; text-shadow: 1px 0px 1px #000; }
        button.btnVoltar{ font-size: 1.2em; font-family: Helvetica, sans-serif; border-radius: 8px; cursor: pointer; background-color: rgba(226, 41, 41, 0.5); color: rgb(8, 8, 8); border-bottom: 4px solid #000; padding: 10px; font-weight: bolder; }
        button.btnVoltar:hover{ background-color: rgba(226, 41, 41, 1); border-bottom: 2px solid #000; }
      }
    }
  }
}